<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <title>Portifolio</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/42528624_2335189679830397_6114497987285614592_n.jpg" alt="foto do Gabriel">
            <h1>Gabriel Conceição</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/gabriel-concei%C3%A7%C3%A3o"><i
                        class="bi bi-linkedin"></i></a>


                <a target="_blank" href="https://github.com/Gabs1993"><i class="bi bi-github"></i></a>


                <a target="_blank" href="https://www.instagram.com/iiamgabex__/"><i class="bi bi-instagram"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#inicio"> <i class="bi bi-house-fill m-2"></i> Inicio</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="#sobre"> <i class="bi bi-person-square m-2"></i> Sobre</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check m-2"></i> Habilidade</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="#curriculo"> <i class="bi bi-file-earmark-pdf m-2"></i> Curriculo</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="#contato"> <i class="bi bi-person-lines-fill m-2"></i> Contato</a>
                </li>
            </ul>

        </nav>

    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Gabriel C. Santos</h2>
                <span class="text-white text-shadow" id="subtitle">Desenvolvedor, Estudante e curioso</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>

        </section>

        <section class="conatiner mt-5 ps-5" id='sobre'>

            <div class="row w-100">

                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3 text-center">Sobre</h2>
                    <p>
                        Sou um paulistano apaixonado por tecnologia, mas amo outras coisas também tanto que ja pensei em
                        seguir diversas profissões como: Jornalista, Advogado e até mesmo técnico de futebol, porque foi
                        uma paixão que eu herdei do meu pai pois ele foi jogador de futebol profissional. Pra mim a
                        tecnologia e o esporte em geral possuem uma ligação, ambos não podemos deixar de praticar e eu
                        acho que é por isso que eu sou tão apaixonado pelos dois seguimentos. Eu amo estar me
                        atualizando, aprendendo cada dia mais e aperfeiçoando aquilo que eu já aprendi, me considero
                        também uma pessoa que se adapta muito rápido as situações e sou uma pessoa extremamente LEAL e
                        persistente.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mt-4">
                    <img class="img-fluid shadow"
                        src="../static/img/210465257_4706713112678030_4224923330859184566_n.jpg" alt="foto do Gabriel" data-anime="left">
                </div>

                <div class="col-md-8" data-anime="rigth">
                    <h3>Desenvolvedor Java Junior</h3>
                    <p>Atualmente eu procuro uma vaga com desenvolvedor Full Stack Java com as tecnologias Spring boot,
                        bootstrap, MYSQL e Angular</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Aniversário: <span class="fw-lighter">28 de maio de
                                        93</span></li>
                                <li class="list-group-item">Idade: <span class="fw-lighter">28 anos</span></li>
                                <li class="list-group-item">Estado: <span class="fw-lighter">São Paulo</span></li>
                                <li class="list-group-item">Cidade: <span class="fw-lighter">São Paulo-centro</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Futebol/Esporte</span></li>

                            </ul>
                        </div>
                    </div>

                    <p>Além de trabalhar/Estudar com desenvolvimento eu também tenho experiencia na parte de fraude em
                        cartões de credito, trabalhei como assistente de chargeback fazendo um trabalho terceirizado
                        para o bradesco aonde iniciavamos uma disputa tanto de fraude quanto e controvérsia tentando
                        recuperar valores para o banco</p>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5 ps-5">Habilidades</h2>
                <p class="ps-5">Nesse tempo de estudo e muito trabalho eu desenvolvi algumas habilitadas muito importes
                    e eu vou detalha-las para vocês 😊</p>


                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0 ps-5">Html</p>
                        <div class="progress ">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="0"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">40%</div>
                        </div>

                        <p class="mt-3 mb-0 ps-5">Css</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">40%</div>
                        </div>

                        <p class="mt-3 mb-0 ps-5">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">25%</div>
                        </div>

                        <p class="mt-3 mb-0 ps-5">Java</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">35%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0 ps-5">SpringBoot</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">40%</div>
                        </div>

                        <p class="mt-3 mb-0 ps-5">MYSQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="25"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">45%</div>
                        </div>

                        <p class="mt-3 mb-0 ps-5">Angular</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">30%</div>
                        </div>

                        <p class="mt-3 mb-0 ps-5">GitHub</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25"
                                aria-valuemin="0" data-anime="left" aria-valuemax="100">40%</div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0 ps-5">Trabalho em equipe</p>
                        <div class="progress ">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>

                          <p class="mt-3 mb-0 ps-5">Proatividade</p>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 89%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">89%</div>
                            </div>

                            <p class="mt-3 mb-0 ps-5">Orientação aos detalhes</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 87%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">87%</div>
                              </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0 ps-5">Comunicação</p>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">98%</div>
                                </div>

                                <p class="mt-3 mb-0 ps-5">Empatia</p>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">90%</div>
                                </div>

                                <p class="mt-3 mb-0 ps-5">Comprometimento</p>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">98%</div>
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4 ps-5 mb-6">Curriculo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title mb-4">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Ensino Médio</h4>
                            <h5>Conclusão 2013</h5>
                            <p><em>E.E Maria José</em></p>
                            <p>Conclusão do ensino médio</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>ESPRO</h4>
                            <h5>Conclusão 2011</h5>
                            <p><em>Curso Tecnico</em></p>
                            <p>Aprendemos algumas habilidades não tecnicas como: Comunicação, trabalho em equipe e também simulavamos como seria o dia a dia no mercado de trabalho. O espro é uma instituição social voltada para capacitação de adolescentes e jovens, em vulnerabilidade social, por meio de ações socioeducativas, mediação de acesso e integração ao mundo do trabalho.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Generation Brasil</h4>
                            <h5>Conclusão 2021</h5>
                            <p><em>Curso de Programação</em></p>
                            <p>Na Generation aprendemos sobre programação em um periodo de 8 horas por dia durante 3 meses, é um bootcamp intensivo aonde simulavamos como seria no mercado de trabalho na area da tecnologia, no curso aprendemos a desenvolver APIS, a preencher banco de dados, relacionar banco de dados e criamos um projeto final apresentando para empregadores na conclusão do curso!</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-anime="up">
                        <h3 class="mb-4">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Aprendiz</h4>
                            <h5>2011 - 2013</h5>
                            <p><em>Hospital Sirio Libanes</em></p>
                            <p>Após a conclusão do curso profissionalizante ESPRO comecei a trabalhar no Hospital Sirio Libanes na parte do almoxarifado de segunda a quinta feira, as sextas feiras tinhamos que realizar um curso para aprimorar as nossas softs skills</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Analista de Chargeback</h4>
                            <h5>2015 - 2021</h5>
                            <p><em>Atento Brasil</em></p>
                            <p>Trabalhei na empresa durante 5 anos na parte de fraude e 
                                cancelamento de comprar em cartão de credito realizando um 
                                trabalho terceirizado para o banco Bradesco. Realizávamos 
                                chargeback sobre as contestações dos clientes no primeiro ciclo 
                                da tratativa. No segundo ciclo conferíamos se todas as 
                                informações no primeiro e entravamos em contato com o cliente 
                                para questionar algumas informações por exemplo: em caso de 
                                mercadoria não recebida questionávamos se o mesmo recebeu e 
                                em caso de fraude se o mesmo reconhece a pessoa que efetuou a 
                                compra, utilizávamos o VROL/VISA</p>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5" >
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>São Paulo, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>gabrielcsantos1993@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3569607311265!2d-46.65165188538415!3d-23.555619867264586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59d1cd341e75%3A0x646ff4a75c6b0493!2sAv.%20Nove%20de%20Julho%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1634651895115!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100"></iframe>

                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name='nome' placeholder="Digite o seu nome">
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="inputPassword4" name='email' placeholder="Digite o seu email">
                                </div>
                               
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem</label>
                                  <textarea type="text" class="form-control" id="mensagem" nome='mensagem' rows='10' placeholder="Digite a sua mensagem"></textarea>
                                </div>
                            
                                <div class="col-12 d-flex justify-content-center">
                                  <button type="submit" class="btn btn-dark">Enviar</button>
                                </div>
                              </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>